<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app-3">
        <div v-for="(todo,index) of todos">
            <span>{{todo.text}}:{{index}}</span>
        </div>
        <div v-for="(key,value,index) in objects">
            {{value}}{{key}}{{index}}
        </div>
        <div v-for="n in 10">
            <span>{{n}}</span>
        </div>
    </div>
    <script>
        var app=new Vue({
            el: '#app-3',
            data: {
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ],
                objects:{
                    FirstName: 'John',
                    LastName: 'Doe',
                    Age: 30
                }

            }

        });
    </script>
</body>
</html>